NODE_ENV=development
PORT=3000
MONGODB_URI=MONGODB_URI
GOOGLE_CLIENT_ID=GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=GOOGLE_CLIENT_SECRET
# 本地开发固定用这个地址
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback
JWT_SECRET=JWT_SECRET
FRONTEND_URL=http://localhost:5173